.about_section {
    width: 100vw;
    height: auto;
}

.about_title {
    font-size: 3rem;
    color: white;
    background-color: #030420;
    padding: 2rem;
    text-align: center;
}

.about_content {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about_places-container {
    background-color: #030420;
    border: 1px solid rgb(255, 255, 255, 0.1);
}

.places-title {
    color: white;
    font-size: 2rem;
    padding: 1.5rem 0rem;
    text-align: center;
}

.places-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.places-list > p {
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.places-list > p:hover {
    background-color: #060733;
}

.about_map-img {
    width: auto;
    height: auto;
}

.about_content-container {
    background-color: whitesmoke;
    border-bottom: 1px solid #030420;
}

.about_content-title {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid #030420;
}

.about_content-desc {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.about_contact-container {
    background-color: #030420;
    border: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about_contact-title {
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.mail-link, 
.phone-link,
.facebook-link {
    margin: 1rem;
    font-size: 1.5rem;
}


@media (max-width: 320px) {

    .about_content {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .places-list {
        width: 100vw;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 1fr);
    }

    .about-map-img {
        width: 320px;
        height: auto;
        margin: 1rem;
    }
}