.about_section {
    width: 100vw;
    height: auto;
}

.about_title {
    font-size: 3rem;
    color: white;
    background-color: #030420;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.about_places-container {
    background-color: #030420;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
}

.places-title {
    color: white;
    background-color: #030420;
    font-size: 2rem;
    padding: 1.5rem 0rem;
    text-align: center;
}

.places-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.places-list > p {
    width: auto;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    text-align: center;
}

.about_map-img {
    width: 31.25rem;
    height: 31.25rem;
    background-color: lightgray;
}

.about_content-container {
    height: 300px;
    background-color: whitesmoke;
    border-bottom: 1px solid #030420;
}

.about_content-title {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid #030420;
}

.about_content-desc {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.about_contact-container {
    height: 300px;
    background-color: #030420;
    border: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about_contact-title {
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.mail-link, 
.phone-link,
.facebook-link {
    margin: 1rem;
    font-size: 1.5rem;
}


@media (max-width: 1100px) {

    .about_places-container {
        flex-wrap: wrap;
    }
}


@media (max-width: 640px) {

    .places-list {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 360px) {



    .about_content-container {
        height: 550px;
    }

    .about_content-title {
        font-size: 2rem;
        width: 100%;
    }

    .about-map-img {
        width: 340px;
        height: 340px;
    }

    .about_places-container {
        flex-wrap: wrap;
    }

    .places-list {
        grid-template-columns: 1fr;
    }

    .mapouter {
        max-width: 100vw;
        height: auto;
        overflow-x: hidden;
    }
}