@keyframes trolley-ride {

    0% {
      left: 0rem;
    }
  
    50% {
      left: 875px;
    }
  
    100% {
      left: 850px;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
    
@keyframes rain {
      from {
        transform: rotate(105deg) translateX(0);
      }
      to {
        transform: rotate(105deg) translateX(calc(200px + 20px));
      }
    }
    
    @keyframes thunder {
      0% {
        background-color: transparent;
      }
      1% {
        background-color: white;
      }
      2% {
        background-color: rgba(255, 255, 255, 0.8);
      }
      8% {
        background-color: transparent;
      }
}