.promo-container-trolley {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  padding: 2rem 0rem;
  position: relative;
}

.promo-text {
  font-size: 3rem;
  width: 100%;
  margin: 1rem;
  opacity: 0%;
}

.promo-trolley-img {
  position: absolute;
  margin-top: 3rem;
}

.promo-car-img2 {
  margin-top: 1rem;
}


.promo_container {
  background-image: linear-gradient(to bottom, #030420, #000000 70%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 250px;
}

.promo-car-img {
  margin: 1rem;
}

.promo_title {
  width: 50vw;
  font-size: 3rem;
  color: white;
  margin: 1rem;
}


@media (max-width: 360px) {

  .promo-container-trolley {
    flex-wrap: wrap;
  }

  .promo-trolley-img {
    right: 15rem;
    bottom: 2rem;
    animation: trolley-mobile 2s ease forwards;
  }

  .promo_container {
    justify-content: center;
    flex-wrap: wrap-reverse;
    height: auto;
  }

  .promo_title {
    font-size: 2rem;
    text-align: center;
  }

  .promo-text {
    font-size: 2rem;
    text-align: center;
  }
}


@keyframes trolley-mobile {

  0% {
    right: 15rem;
  }

  100% {
    right: 10rem;
  }
}


@keyframes trolley-ride {

    0% {
      left: 0rem;
    }
  
    50% {
      left: 875px;
    }
  
    100% {
      left: 850px;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
    
@keyframes rain {
      from {
        transform: rotate(105deg) translateX(0);
      }
      to {
        transform: rotate(105deg) translateX(calc(200px + 20px));
      }
    }
    
    @keyframes thunder {
      0% {
        background-color: transparent;
      }
      1% {
        background-color: white;
      }
      2% {
        background-color: rgba(255, 255, 255, 0.8);
      }
      8% {
        background-color: transparent;
      }
}