.minor-damage_section {
    width: 100vw;
    height: auto;
    background-color: white;
    overflow-x: hidden;
}

.section_title {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0rem 0rem 0rem;
    background-color: whitesmoke;
    border-top: 1px solid #030420;
}

.section_content-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 2rem 0rem;
}

.text-content {
    background-color: whitesmoke;
}

.text-content-title {
    font-size: 2rem;
    padding: 0rem 2rem;
}

.text-content-desc {
    font-size: 1.5rem;
    padding: 2rem;
}

.text-content-cta {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #030420;
    margin: 2rem;
}

.dents-image {
    width: 35.125rem;
    height: 23.375rem;
}


@media (max-width: 1100px) {

    .text-content-title {
        text-align: center;
    }

    .text-content-desc {
        text-align: center;
    }

    .text-content-cta {
        display: block;
        text-align: center;
    }
}


@media (max-width: 360px) {
    
    .section_title {
        padding: 1rem 2rem 0rem 2rem;
        font-size: 3rem;
    }

    .section_content-container {
        justify-content: center;
        flex-direction: column;
    }

    .text-content-cta {
        margin-bottom: 2rem;
    }

    .dents-image {
        width: 340px;
        height: auto;
        margin-top: 2rem;
    }
}