footer {
    width: 100vw;
    height: 400px;
    background-color: lightgray;
}

.copyright {
    width: 100vw;
    height: auto;
    padding: 1rem 0rem;
    background-color: #030420;
    color: white;
    text-align: center;
}