header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header_img {
    width: 100vw;
    height: auto;
    z-index: -1;
    position: absolute;
}

.header_content {
    width: 60%;
    height: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030420ce;
    margin-inline: auto;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.header_title {
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.header_desc {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}