.locations_section {
    width: 100vw;
    height: 100vh;
    background-color: lightsalmon;
}

.location_title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

