.minor-damage_section {
    width: 100vw;
    height: auto;
    background-color: white;
    padding: 2rem 0rem;
}

.section_title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #0e1046;
}

.section_content-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.text-content-title {
    font-size: 2rem;
}

.text-content-desc {
    font-size: 1.5rem;
    margin: 2rem 0rem 3rem 0rem;
}

.text-content-cta {
    padding: 1rem 2rem;
    background-color: #030420;
}

.hail-damage_section {
    width: 100vw;
    height: auto;
    padding: 2rem 0rem;
}

.section_content-container-2 {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
}

.text-content-title-2 {
    font-size: 2rem;
}

.text-content-desc-2 {
    margin: 2rem 0rem 3rem 0rem;
    font-size: 1.5rem;
}
