.minor-damage_section {
    width: 100vw;
    height: auto;
    background-color: white;
}

.section_title {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0rem;
    background-color: whitesmoke;
    border-top: 1px solid #030420;
}

.section_content-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    padding: 2rem 0rem;
}

.text-content {
    background-color: whitesmoke;
}

.text-content-title {
    font-size: 2rem;
    padding: 0rem 2rem;
}

.text-content-desc {
    font-size: 1.5rem;
    padding: 2rem 2rem 4rem 2rem;
}

.text-content-cta {
    padding: 1rem 2rem;
    background-color: #030420;
    margin: 2rem;
}

.hail-damage_section {
    width: 100vw;
    height: auto;
}

.section_title-2 {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0rem;
    color: white;
    background-color: #000000;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}

.section_content-container-2 {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0rem;
    background-color: #000000;
}

.text-content-title-2 {
    font-size: 2rem;
    color: white;
}

.text-content-desc-2 {
    margin: 2rem 0rem 3rem 0rem;
    font-size: 1.5rem;
    color: white;
}

.text-content-cta-2 {
    padding: 1rem 2rem;
    color: #030420;
    background-color: whitesmoke;
}

.promo-container-trolley {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.promo-text {
    position: absolute;
    left: 10rem;
    font-size: 2rem;
    opacity: 0%;
}

.promo-trolley-img {
    position: relative;
    right: 0rem;
    margin-top: 2rem;
}


@media (max-width: 320px) {

    .promo-container-trolley {
        justify-content: center;
        position: relative;
    }

    .promo-trolley-img {
        display: none;
    }

    .promo-text {
        display: none;
    }
}