.offers_section {
    width: 100vw;
    height: auto;
}

.offers_title {
    font-size: 3rem;
    text-align: center;
    width: 100vw;
    color: white;
    padding: 2rem 0rem;
    background-color: #030420;
    border: 1px solid rgb(255, 255, 255, 0.1);
}

.offer_card-container {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #030420;
}

.offer_card {
    width: auto;
    height: auto;
    background-color: #030420ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid rgb(255, 255, 255, 0.1);
    padding: 2rem 1rem;
}

.offer_card-title {
    color: white;
    margin: 1rem 1rem 0rem 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.offer_card-desc {
    color: white;
    margin: 1rem;
    text-align: center;
}



@media (max-width: 320px) {

    .offers_title {
        font-size: 2rem;
        border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    }

    .offer_card-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .offer_card {
        padding: 2rem;
    }
}