@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --thunder-duration: 2s;
  --thunder-delay: 20s;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: auto;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #030420;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.pdr-accent {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.nav-links > li {
  display: inline;
  margin-inline: 2rem;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-hamburger {
  display: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header_img {
  width: 100vw;
  height: auto;
  z-index: -1;
  position: absolute;
}

.header_content {
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.header_title {
  font-size: 4rem;
  text-align: center;
  padding-top: 8rem;
  color: white;
}

.header_desc {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.header_vid {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}

.offers_section {
  width: 100vw;
  height: auto;
}

.offers_title {
  font-size: 3rem;
  text-align: center;
  width: 100vw;
  background-color: white;
  padding: 2rem 0rem;
}

.offer_card-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0rem 4rem 0rem;
}

.offer_card {
  width: 250px;
  height: 250px;
  background-color: rgba(3, 4, 32, 0.9254901961);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px gray;
}

.offer_card-title {
  color: white;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.offer_card-desc {
  color: white;
  margin: 1rem;
  text-align: center;
}

.locations_section {
  width: 100vw;
  height: 100vh;
  background-color: lightsalmon;
}

.location_title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

@-webkit-keyframes trolley-ride {
  0% {
    left: 0rem;
  }
  50% {
    left: 875px;
  }
  100% {
    left: 850px;
  }
}

@keyframes trolley-ride {
  0% {
    left: 0rem;
  }
  50% {
    left: 875px;
  }
  100% {
    left: 850px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(220px);
  }
}
@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(220px);
  }
}
@-webkit-keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}
@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}
.contact_section {
  width: 100vw;
  height: 400px;
  background-color: lightgray;
}

.contact_title {
  font-size: 3rem;
  text-align: center;
}

.copyright {
  width: 100vw;
  height: auto;
  padding: 1rem 0rem;
  background-color: #030420;
  color: white;
  text-align: center;
}

.minor-damage_section {
  width: 100vw;
  height: auto;
  background-color: white;
  padding: 2rem 0rem;
}

.section_title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #0e1046;
}

.section_content-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.text-content-title {
  font-size: 2rem;
}

.text-content-desc {
  font-size: 1.5rem;
  margin: 2rem 0rem 3rem 0rem;
}

.text-content-cta {
  padding: 1rem 2rem;
  background-color: #030420;
}

.hail-damage_section {
  width: 100vw;
  height: auto;
  padding: 2rem 0rem;
}

.section_content-container-2 {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.text-content-title-2 {
  font-size: 2rem;
}

.text-content-desc-2 {
  margin: 2rem 0rem 3rem 0rem;
  font-size: 1.5rem;
}

.brand-promo_section {
  width: 100vw;
  height: auto;
  background-color: white;
}

.brand-title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0rem;
}

.brand-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.promo-container {
  background-image: linear-gradient(to bottom, #030420, #000000 70%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.promo-car-img {
  position: relative;
  top: 2rem;
}

.text-content {
  width: auto;
  height: auto;
}

.promo-title {
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
}

.promo-container-trolley {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.promo-text {
  position: absolute;
  left: 10rem;
  font-size: 2rem;
  opacity: 0%;
}

.promo-trolley-img {
  position: relative;
  right: 0rem;
  margin-top: 2rem;
}

hr.thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 200px;
  -webkit-animation-name: thunder;
          animation-name: thunder;
  -webkit-animation-duration: var(--thunder-duration);
          animation-duration: var(--thunder-duration);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: var(--thunder-delay);
          animation-delay: var(--thunder-delay);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  top: 73rem; /* to move animation*/
  transform-origin: 100% 50%;
  -webkit-animation-name: rain;
          animation-name: rain;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 40em) {
  nav {
    justify-content: space-between;
  }
  .logo {
    margin-left: 1rem;
  }
  ul {
    display: none;
  }
  .nav-hamburger {
    display: block;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */