@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --thunder-duration: 2s;
  --thunder-delay: 20s;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: auto;
  font-family: "Roboto", sans-serif;
}

/* Nav section */
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #030420;
}

.nav-section {
  padding: 2rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}

.nav_logo-section {
  justify-content: flex-start;
  color: white;
}

.nav-logo {
  font-size: 2rem;
}

.nav_logo-section,
.nav_link-section {
  flex-basis: 33.3333333333%;
}

.nav_social-section,
.nav_contact-section {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: white;
}

/* Article section */
header {
  flex-grow: 1;
}

header > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.article-section {
  height: 100%;
  background-color: #030420;
}

.article_description-section {
  color: white;
}

.article_title-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.article_nav-section {
  color: white;
}

.article_description-section,
.article_nav-section {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.article_title-section,
.article_nav-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.article_description-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-section {
  margin: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 320px) {
  .nav_social-section,
.nav_contact-section,
.nav_link-section {
    display: none;
  }
  header > article {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.offers_section {
  width: 100vw;
  height: auto;
}

.offers_title {
  font-size: 3rem;
  text-align: center;
  width: 100vw;
  color: white;
  padding: 2rem 0rem;
  background-color: #030420;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.offer_card-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #030420;
}

.offer_card {
  width: auto;
  height: auto;
  background-color: rgba(3, 4, 32, 0.9254901961);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 1rem;
}

.offer_card-title {
  color: white;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.offer_card-desc {
  color: white;
  margin: 1rem;
  text-align: center;
}

@media (max-width: 320px) {
  .offers_title {
    font-size: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .offer_card-container {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .offer_card {
    padding: 2rem;
  }
}
.hail-damage_section {
  width: 100vw;
  height: auto;
}

.section_title-2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0rem;
  color: white;
  background-color: #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.section_content-container-2 {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0rem;
  background-color: #000000;
}

.text-content-title-2 {
  width: 32rem;
  font-size: 2rem;
  color: white;
}

.text-content-desc-2 {
  margin: 2rem 0rem 3rem 0rem;
  font-size: 1.5rem;
  color: white;
}

.text-content-cta-2 {
  padding: 1rem 2rem;
  color: #030420;
  background-color: whitesmoke;
}

.promo-container-trolley {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.promo-text {
  position: absolute;
  left: 10rem;
  font-size: 2rem;
  opacity: 0%;
}

.promo-trolley-img {
  position: relative;
  right: 0rem;
  margin-top: 2rem;
}

@media (max-width: 320px) {
  .hail-damage_section {
    width: 320px;
    height: auto;
  }
  .section_title-2 {
    text-align: center;
  }
  .section_content-container-2 {
    justify-content: center;
    flex-direction: column;
  }
}
.minor-damage_section {
  width: 100vw;
  height: auto;
  background-color: white;
}

.section_title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0rem;
  background-color: whitesmoke;
  border-top: 1px solid #030420;
}

.section_content-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  padding: 2rem 0rem;
}

.text-content {
  background-color: whitesmoke;
}

.text-content-title {
  font-size: 2rem;
  padding: 0rem 2rem;
}

.text-content-desc {
  font-size: 1.5rem;
  padding: 2rem 2rem 4rem 2rem;
}

.text-content-cta {
  padding: 1rem 2rem;
  background-color: #030420;
  margin: 2rem;
}

@media (max-width: 320px) {
  .promo-container-trolley {
    justify-content: center;
    position: relative;
  }
  .promo-trolley-img {
    display: none;
  }
  .promo-text {
    display: none;
  }
  .section_title {
    padding: 1rem 2rem 0rem 2rem;
    font-size: 3rem;
  }
  .section_content-container {
    justify-content: center;
    flex-direction: column;
  }
  .text-content-cta {
    margin-bottom: 2rem;
  }
  .dents-image {
    width: 320px;
    height: auto;
    margin-top: 2rem;
  }
}
@-webkit-keyframes trolley-ride {
  0% {
    left: 0rem;
  }
  50% {
    left: 875px;
  }
  100% {
    left: 850px;
  }
}
@keyframes trolley-ride {
  0% {
    left: 0rem;
  }
  50% {
    left: 875px;
  }
  100% {
    left: 850px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(220px);
  }
}
@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(220px);
  }
}
@-webkit-keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}
@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}
.about_section {
  width: 100vw;
  height: auto;
}

.about_title {
  font-size: 3rem;
  color: white;
  background-color: #030420;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.about_content {
  width: 100%;
  height: auto;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.about_places-container {
  background-color: #030420;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
}

.places-title {
  color: white;
  background-color: #030420;
  font-size: 2rem;
  padding: 1.5rem 0rem;
  text-align: center;
}

.places-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.places-list > p {
  width: 12rem;
  padding: 1rem;
  margin: 1rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.places-list > p:hover {
  background-color: #060733;
}

.about_map-img {
  width: auto;
  height: auto;
  background-color: lightgray;
}

.about_content-container {
  height: 300px;
  background-color: whitesmoke;
  border-bottom: 1px solid #030420;
}

.about_content-title {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid #030420;
}

.about_content-desc {
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
}

.about_contact-container {
  height: 300px;
  background-color: #030420;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.about_contact-title {
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mail-link,
.phone-link,
.facebook-link {
  margin: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 320px) {
  .about_content {
    height: 800px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .places-list {
    width: 100vw;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 1fr);
  }
  .about_content-container {
    height: 550px;
  }
  .about_content-title {
    font-size: 2rem;
    width: 100%;
  }
  .about-map-img {
    width: 320px;
    height: auto;
  }
  .about_places-container {
    flex-wrap: wrap;
  }
  .place-list {
    display: block;
  }
}
footer {
  width: 100vw;
  height: 400px;
  background-color: lightgray;
}

.copyright {
  width: 100vw;
  height: auto;
  padding: 1rem 0rem;
  background-color: #030420;
  color: white;
  text-align: center;
}

.brand-promo_section {
  width: 100vw;
  height: auto;
  background-color: white;
}

.brand-title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0rem;
}

.brand-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.promo-container {
  background-image: linear-gradient(to bottom, #030420, #000000 70%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.promo-car-img {
  position: relative;
  top: 2rem;
}

.text-content {
  width: auto;
  height: auto;
}

.promo-title {
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
}

hr.thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 200px;
  -webkit-animation-name: thunder;
          animation-name: thunder;
  -webkit-animation-duration: var(--thunder-duration);
          animation-duration: var(--thunder-duration);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: var(--thunder-delay);
          animation-delay: var(--thunder-delay);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  top: 121rem; /* to move animation*/
  transform-origin: 100% 50%;
  -webkit-animation-name: rain;
          animation-name: rain;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 320px) {
  .brand-container > svg {
    width: 100%;
    margin: 1rem 3rem;
  }
}/*# sourceMappingURL=styles.css.map */